! --------------------------
! CAT9300 TEMPLATE CREATION
! --------------------------
!
{% for item in hostname %}
!
hostname {{ item.hostname }}
!
{% endfor %}
!
{% for item in interfaces %}
interface TenGigabitEthernet1/1/1
 description {{ item.description }}
 no switchport
 dampening
 ip address {{item.ip}} {{item.mask}}
 no ip redirects
 ip pim sparse-mode
 ip authentication mode eigrp 10 md5
 ip authentication key-chain eigrp 10 eigrpauth
 ip summary-address eigrp 10 172.18.200.0 255.255.248.0
!
exit
!
{% endfor %}
! -------------------------------------------------------------
! END
! -------------------------------------------------------------