no service slave-log
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
service linenumber
service sequence-numbers
! Call-home is enabled by Smart-Licensing.
service call-home
no platform punt-keepalive disable-kernel-core
!
hostname {{ hostname }}
!
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging buffered 1048576 informational
no logging console
no logging monitor
enable secret 5 $1$zWxy$dkmTb4rWxSjzM3HRQi5NT0
!
aaa new-model
!
!
aaa authentication login VTY group tacacs+ local
aaa authentication enable default group tacacs+ enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group tacacs+ local
aaa authorization exec VTY group tacacs+ local
aaa authorization commands 1 VTY group tacacs+ local
aaa authorization commands 15 VTY group tacacs+ local
aaa accounting exec VTY start-stop group tacacs+
aaa accounting commands 1 VTY start-stop group tacacs+
aaa accounting commands 15 VTY start-stop group tacacs+
aaa accounting system default start-stop group tacacs+
no aaa accounting system guarantee-first
!
!
!
!
!
!
aaa session-id common
clock timezone EST -5 0
clock summer-time EDT recurring
switch 1 provision c9300-48u
switch 2 provision c9300-48u
software auto-upgrade enable
!
!
stack-power stack PS1
 mode power-shared strict
!
stack-power switch 1
 stack PS1
stack-power switch 2
 stack PS1
!
!
!
!
!
call-home
 no alert-group configuration
 no alert-group crash
 no alert-group diagnostic
 no alert-group environment
 no alert-group inventory
 no alert-group snapshot
 no alert-group syslog
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "ONPREM"
  reporting smart-licensing-data
  destination transport-method http
  destination address http http://172.16.48.36:80/Transportgateway/services/DeviceRequestHandler
no ip source-route
ip arp proxy disable
!
!
!
!
!
{% for item in dns_servers %}
!
ip name-server {{ item.dns1 }} {{ item.dns2 }} {{ item.dns2 }} 
!
{% endfor %}
!
ip domain name intralee.leememorial.org
ip dhcp bootp ignore
!
!
!
ip dhcp snooping vlan 2-5
no ip dhcp snooping information option
ip dhcp snooping
ip arp inspection vlan 2-5
ip arp inspection vlan 2-5 logging arp-probe
login block-for 120 attempts 5 within 60
login quiet-mode access-class 101
login on-success log
!
!
!
!
!
!
!
vtp domain NULL
vtp mode transparent
!
!
license boot level network-advantage addon dna-advantage
license smart url http://172.16.48.36:80/SmartTransport
!
!
diagnostic bootup level minimal
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree extend system-id
spanning-tree vlan 2-5 priority 8192
archive
 log config
  logging enable
  notify syslog contenttype plaintext
  hidekeys
 path flash:
 write-memory
!
!
username netops privilege 15 secret 5 $1$7FS7$xoKKh1W6oyG8/W687U3.A0
!
redundancy
 mode sso
!
!
!
!
!
transceiver type all
 monitoring
!
vlan 2
 name Voice
!
vlan 3
 name Data
!
vlan 4
 name Security
!
vlan 5
 name Medical
!
lldp run
!
class-map match-any system-cpp-police-topology-control
  description Topology control
class-map match-any system-cpp-police-sw-forward
  description Sw forwarding, L2 LVX data, LOGGING
class-map match-any system-cpp-default
  description Inter FED, EWLC control, EWLC data
class-map match-any system-cpp-police-sys-data
  description Learning cache ovfl, High Rate App, Exception, EGR Exception, NFL SAMPLED DATA, RPF Failed
class-map match-any system-cpp-police-punt-webauth
  description Punt Webauth
class-map match-any system-cpp-police-l2lvx-control
  description L2 LVX control packets
class-map match-any system-cpp-police-forus
  description Forus Address resolution and Forus traffic
class-map match-any system-cpp-police-multicast-end-station
  description MCAST END STATION
class-map match-any system-cpp-police-high-rate-app
  description High Rate Applications
class-map match-any system-cpp-police-multicast
  description Transit Traffic and MCAST Data
class-map match-any system-cpp-police-l2-control
  description L2 control
class-map match-any system-cpp-police-dot1x-auth
  description DOT1X Auth
class-map match-any system-cpp-police-data
  description ICMP redirect, ICMP_GEN and BROADCAST
class-map match-any system-cpp-police-stackwise-virt-control
  description Stackwise Virtual
class-map match-any VOICE
 match cos  5
class-map match-any non-client-nrt-class
class-map match-any SIGNALING
 match cos  3
class-map match-any system-cpp-police-routing-control
  description Routing control and Low Latency
class-map match-any system-cpp-police-protocol-snooping
  description Protocol snooping
class-map match-any system-cpp-police-dhcp-snooping
  description DHCP snooping
class-map match-any system-cpp-police-system-critical
  description System Critical and Gold Pkt
!
policy-map CISCO-IPPHONE
 class VOICE
  set dscp ef
 class SIGNALING
  set dscp cs3
 class class-default
  set dscp default
policy-map system-cpp-policy
!
!
!
!
!
!
!
!
!
!
{% for item in primary_po1 %}
!
interface Port-channel1
 description description {{ item.description }
 switchport trunk allowed vlan 2-5
 switchport mode trunk
 ip arp inspection trust
 ip dhcp snooping trust
!
{% endfor %}
!
{% for item in secundary_po2 %}
!
interface Port-channel2
 description description {{ item.description }
 switchport trunk allowed vlan 2-5
 switchport mode trunk
 ip arp inspection trust
 ip dhcp snooping trust
!
{% endfor %}
!
interface GigabitEthernet0/0
 vrf forwarding Mgmt-vrf
 no ip address
 shutdown
 speed 1000
 negotiation auto
!
{% for i in range( num_of_lc ) %}
interface range GigabitEthernet{{ i + 1 }}/0/1 - 48
 switchport access vlan 3
 switchport mode access
 switchport voice vlan 2
 switchport port-security maximum 2
 switchport port-security violation restrict
 switchport port-security aging time 2
 switchport port-security aging type inactivity
 switchport port-security
 ip arp inspection limit rate 100
 trust device cisco-phone
 no snmp trap link-status
 spanning-tree portfast
 service-policy input CISCO-IPPHONE
 ip verify source
!
{% endfor %}
!
interface GigabitEthernet1/1/1
!
interface GigabitEthernet1/1/2
!
interface GigabitEthernet1/1/3
!
interface GigabitEthernet1/1/4
!
interface TenGigabitEthernet1/1/1
 description JohnsonMDF
 switchport trunk allowed vlan 2-5
 switchport mode trunk
 ip arp inspection trust
 channel-group 1 mode on
 ip dhcp snooping trust
!
interface TenGigabitEthernet1/1/2
 description Johnson201
 switchport trunk allowed vlan 2-5
 switchport mode trunk
 ip arp inspection trust
 channel-group 2 mode on
 ip dhcp snooping trust
!
interface TenGigabitEthernet1/1/3
 shutdown
!
interface TenGigabitEthernet1/1/4
 shutdown
!
interface TenGigabitEthernet1/1/5
 shutdown
!
interface TenGigabitEthernet1/1/6
 shutdown
!
interface TenGigabitEthernet1/1/7
 shutdown
!
interface TenGigabitEthernet1/1/8
 shutdown
!
interface FortyGigabitEthernet1/1/1
!
interface FortyGigabitEthernet1/1/2
!
interface TwentyFiveGigE1/1/1
!
interface TwentyFiveGigE1/1/2
!
interface GigabitEthernet2/1/1
!
interface GigabitEthernet2/1/2
!
interface GigabitEthernet2/1/3
!
interface GigabitEthernet2/1/4
!
interface TenGigabitEthernet{{ num_of_lc }}/1/1
 description JohnsonMDF
 switchport trunk allowed vlan 2-5
 switchport mode trunk
 ip arp inspection trust
 channel-group 1 mode on
 ip dhcp snooping trust
!
interface TenGigabitEthernet{{ num_of_lc }}/1/2
 description Johnson201
 switchport trunk allowed vlan 2-5
 switchport mode trunk
 ip arp inspection trust
 channel-group 2 mode on
 ip dhcp snooping trust
!
interface TenGigabitEthernet2/1/3
 shutdown
!
interface TenGigabitEthernet2/1/4
 shutdown
!
interface TenGigabitEthernet2/1/5
 shutdown
!
interface TenGigabitEthernet2/1/6
 shutdown
!
interface TenGigabitEthernet2/1/7
 shutdown
!
interface TenGigabitEthernet2/1/8
 shutdown
!
interface FortyGigabitEthernet2/1/1
!
interface FortyGigabitEthernet2/1/2
!
interface TwentyFiveGigE2/1/1
!
interface TwentyFiveGigE2/1/2
!
interface Vlan1
 no ip address
 shutdown
!
{% for item in primary_po1 %}

interface Vlan3
 ip address {{ item.ip }} 255.255.255.0
 description {{ item.description }}
 no ip redirects

{{% endfor %}} 
!
!
ip default-gateway {{ default_gw }}
ip forward-protocol nd
no ip http server
no ip http secure-server
ip tacacs source-interface Vlan3
!
ip ssh version 2
!
!
logging filter flash:syslogfilter.tcl args  CONFIG_I 5 4
logging filter flash:syslognolinkupdown.tcl args  LINK 3 UPDOWN Gigabit
logging trap debugging
logging source-interface Vlan3
logging host 172.17.254.227
logging host 172.17.254.241 filtered
logging host 10.131.253.15
logging host 10.143.253.15
access-list 1 permit 172.16.6.172
access-list 1 permit 172.22.5.149
access-list 1 permit 172.16.48.166
access-list 1 permit 172.16.48.162
access-list 1 permit 172.16.48.163
access-list 1 permit 172.18.7.208
access-list 1 permit 172.19.5.208
access-list 1 permit 172.17.6.34
access-list 1 permit 172.17.254.227
access-list 1 permit 172.17.254.241
access-list 1 permit 172.17.6.106
access-list 1 permit 10.131.253.0 0.0.0.255
access-list 1 permit 10.143.253.0 0.0.0.255
access-list 1 permit 10.157.253.0 0.0.0.255
access-list 1 permit 172.20.114.0 0.0.1.255
access-list 101 permit ip 172.20.114.0 0.0.1.255 any
access-list 101 permit ip host 172.17.254.241 any
access-list 101 permit ip host 172.17.254.227 any
!
snmp-server group V3priv v3 priv read NetOpsViewRO write NetOpsViewRW access 1
snmp-server group V3priv v3 priv context vlan- match prefix access 1
snmp-server view NetOpsViewRO iso included
snmp-server view NetOpsViewRO transmission.94 excluded
snmp-server view NetOpsViewRO mib-2.34.9 excluded
snmp-server view NetOpsViewRO ciscoMgmt.35 excluded
snmp-server view NetOpsViewRO ciscoMgmt.95 excluded
snmp-server view NetOpsViewRO ciscoMgmt.130 excluded
snmp-server view NetOpsViewRO ciscoMgmt.219 excluded
snmp-server view NetOpsViewRO ciscoMgmt.254 excluded
snmp-server view NetOpsViewRO ciscoMabMIB excluded
snmp-server view NetOpsViewRO ciscoExperiment.997 excluded
snmp-server view NetOpsViewRW iso included
snmp-server view NetOpsViewRW internet included
snmp-server view NetOpsViewRW snmpUsmMIB excluded
snmp-server view NetOpsViewRW snmpVacmMIB excluded
snmp-server view NetOpsViewRW snmpCommunityMIB excluded
snmp-server view NetOpsViewRW transmission.94 excluded
snmp-server view NetOpsViewRW mib-2.34.9 excluded
snmp-server view NetOpsViewRW ciscoMgmt.35 excluded
snmp-server view NetOpsViewRW ciscoMgmt.95 excluded
snmp-server view NetOpsViewRW ciscoMgmt.130 excluded
snmp-server view NetOpsViewRW ciscoMgmt.219 excluded
snmp-server view NetOpsViewRW ciscoMgmt.252 excluded
snmp-server view NetOpsViewRW ciscoMgmt.254 excluded
snmp-server view NetOpsViewRW ciscoMabMIB excluded
snmp-server view NetOpsViewRW ciscoExperiment.997 excluded
snmp-server trap-source Vlan3
snmp-server host 172.17.254.241 version 3 priv cwsi
tacacs server LMH
 address ipv4 172.16.6.172
 key 7 1327211C0D48512D38233F21660502573912047653
 timeout 3
 single-connection
tacacs server GCMC
 address ipv4 172.22.5.149
 key 7 106C3F170353470C1F033D39770F22650D02023609
 timeout 3
 single-connection
!
!
!
!
control-plane
 service-policy input system-cpp-policy
!
banner motd ^C


Lee Memorial Health Systems / Fort Myers, Florida

*  *  *  *  *  * AUTHORIZED ACCESS ONLY *  *  *  *  *  *

This network you are attempting to access, to include all
hardware/software/peripheral devices associated, contains
Private Health Information protected by STATE and FEDERAL HIPAA LAWS.

!!!!!!!!!!!!Authorized Access is granted only by!!!!!!!!!!!!!!!!!!!!!
Lee Memorial Health Systems Information Systems Network Services 239-343-7900
VIOLATIONS OR UNAUTHORIZED ACCESS WILL BE PROSECUTED BY FULL EXTENT OF THE LAW.

^C
!
line con 0
 authorization commands 1 VTY
 authorization commands 15 VTY
 authorization exec VTY
 accounting commands 1 VTY
 accounting commands 15 VTY
 accounting exec VTY
 logging synchronous
 login authentication VTY
 transport preferred none
 stopbits 1
line vty 0 4
 authorization commands 1 VTY
 authorization commands 15 VTY
 authorization exec VTY
 accounting commands 1 VTY
 accounting commands 15 VTY
 accounting exec VTY
 logging synchronous
 login authentication VTY
 transport preferred none
 transport input ssh
line vty 5 15
 authorization commands 1 VTY
 authorization commands 15 VTY
 authorization exec VTY
 accounting commands 1 VTY
 accounting commands 15 VTY
 accounting exec VTY
 logging synchronous
 login authentication VTY
 transport preferred none
 transport input ssh
!
ntp authentication-key 1 md5 153E26240A3E3B053D2764 7
ntp authenticate
ntp trusted-key 1
ntp source Vlan3
ntp server 172.22.5.10 key 1
ntp server 172.17.253.10 key 1
!
mac address-table aging-time 14400
!
!
!
!
!
end
